<!DOCTYPE html>
    <head>
        <title>Tornament creator</title>
    </head>

    <body>
        <h1><i>Arlo™'s Flask 100% perfect system™</i></h1>
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fc.tenor.com%2FRtBRRJujiTYAAAAM%2Fyakuza-kiryu.gif&f=1&nofb=1&ipt=15a7e6f0df043fea1da1c08949a1646292efea1324ae565850251051fa2529b5" alt="git gud" width="200 ">


        <hr>

        <nav> 
            <fieldset>
                <legend><i>Arlo's Tournament Menu</i></legend>
                <a href="/current_tounament">CURRENT TOUNAMENT</a></li>
                <a href="TODO">TODO</a></li>
            </fieldset>
        </nav>

        <main>

            {% block content %}
            {% endblock %}
            
        </main>

        <footer>
            <hr>
            @Arlo - SignorGatt0 - Arlotti - 2026
        </footer>
    </body>

</html>